In [1]:
import json

In [2]:
# test_j = json.load('../data/test_data.json')

# import json
  
# Opening JSON file
f = open('../data/test_data.json')
  
# returns JSON object as 
# a dictionary
data = json.load(f)
  
# Iterating through the json
# list
for i in data['emp_details']:
    print(i)
  
# Closing file
f.close()

KeyError: 'emp_details'

In [ ]:
# query_ = pd.get_dummies(pd.DataFrame(json_))
# query = query_.reindex(columns = model_columns, fill_value = 0)
# prediction = list(pipeline.predict(query))

In [3]:
json.loads('{"Gender":{"0":"Female","1":"Male"},"Married":{"0":"No","1":"Yes"},"Dependents":{"0":1,"1":0},"Education":{"0":"Graduate","1":"Graduate"},"Self_Employed":{"0":"No","1":"No"},"ApplicantIncome":{"0":4723,"1":2583},"CoapplicantIncome":{"0":0,"1":2115},"LoanAmount":{"0":81,"1":120},"Loan_Amount_Term":{"0":360,"1":360},"Credit_History":{"0":1.0,"1":null},"Property_Area":{"0":"Semiurban","1":"Urban"}}')

{'Gender': {'0': 'Female', '1': 'Male'},
 'Married': {'0': 'No', '1': 'Yes'},
 'Dependents': {'0': 1, '1': 0},
 'Education': {'0': 'Graduate', '1': 'Graduate'},
 'Self_Employed': {'0': 'No', '1': 'No'},
 'ApplicantIncome': {'0': 4723, '1': 2583},
 'CoapplicantIncome': {'0': 0, '1': 2115},
 'LoanAmount': {'0': 81, '1': 120},
 'Loan_Amount_Term': {'0': 360, '1': 360},
 'Credit_History': {'0': 1.0, '1': None},
 'Property_Area': {'0': 'Semiurban', '1': 'Urban'}}

In [4]:
{"Gender":{"0":"Female"},"Married":{"0":"No"},"Dependents":{"0":1},"Education":{"0":"Graduate"},"Self_Employed":{"0":"No"},"ApplicantIncome":{"0":4723},"CoapplicantIncome":{"0":0},"LoanAmount":{"0":81},"Loan_Amount_Term":{"0":360},"Credit_History":{"0":1},"Property_Area":{"0":"Semiurban"}}

{'Gender': {'0': 'Female'},
 'Married': {'0': 'No'},
 'Dependents': {'0': 1},
 'Education': {'0': 'Graduate'},
 'Self_Employed': {'0': 'No'},
 'ApplicantIncome': {'0': 4723},
 'CoapplicantIncome': {'0': 0},
 'LoanAmount': {'0': 81},
 'Loan_Amount_Term': {'0': 360},
 'Credit_History': {'0': 1},
 'Property_Area': {'0': 'Semiurban'}}

In [35]:
## Python test file for flask to test locally
import requests as r
import pandas as pd
import json


base_url = 'http://127.0.0.1:5000/' #base url local host

json_data = {
    "Gender": 'Male',
    "Married": 'Yes',
    "Dependents": '2',
    "Education": 'Graduate',
    "Self_Employed": 'No',
    "ApplicantIncome": 6000,
    "CoapplicantIncome": 0,
    "LoanAmount": 95,
    "Loan_Amount_Term": 240,
    "Credit_History": 1,
    "Property_Area": 'Semiurban'
    }


# df = pd.DataFrame(json_data)



# Get Response
# response = r.get(base_url)
response = r.post(base_url + "predict", json = json_data)


if response.status_code == 200:
    print('...')
    print('request successful')
    print('...')
    print(response.json())
else:
    print(response.json())
    print('request failed')

...
request successful
...
{'trace': 'Traceback (most recent call last):\n  File "C:\\Users\\mnicn\\local_documents\\lighthouse-data-notes\\Week 8\\deployment-project\\notebooks\\app.py", line 34, in predict\n    return pipeline.predict(df).tolist()\nNameError: name \'pipeline\' is not defined\n'}

In [7]:
import pickle

In [13]:
with open('../data/model_columns.pkl', 'rb') as f:
    model_columns = pickle.load (f)

In [14]:
model_columns

['Gender',
 'Married',
 'Dependents',
 'Education',
 'Self_Employed',
 'ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term',
 'Credit_History',
 'Property_Area']

In [15]:
# query_ = pd.DataFrame(json_data)
query_ = pd.get_dummies(pd.DataFrame(json_data))
query = query_.reindex(columns = model_columns, fill_value = 0)

In [16]:
query

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,0,0,1,0,0,6000,0,95,240,1,0

In [ ]:
json_raw = 

json_data = request.get_json()
df = pd.DataFrame(json_data.values(), index = json_data.keys()).transpose()
df = df.reindex(columns = model_columns, fill_value = 0)
return pipeline.predict(df).tolist()